# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Conda Environment
Data/env/

# Jupyter Notebook
.ipynb_checkpoints/

# Data
Data/Monthly_sales/*.xlsx

# Logs
logs/

# Models and scalers
models/

# Results
results/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.envrc
